<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Dynamic title -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Link to Google Fonts for Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <style>
        .column-1 { width: 70%; }
        .column-2 { width: 15%; }
        .column-3 { width: 15%; }
        .button-row { display: flex; justify-content: flex-end; margin-bottom: 20px; }
        .button-row .btn { margin-left: 10px; }
        .logo-container { text-align: center; margin-bottom: 20px; }
        .logo-container img { max-width: 150px; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
    <!-- <div class="brand-top container mt-5"> -->
        <div class="logo-container">
            <img src="/img/logo.png" alt="Valinor Energy">
            <h2>Valinor Energy</h2>
        </div>
