<%- include('partials/header'); %>

<div class="container">
    <h1 class="text-center my-4">SB 1383 Compliance Calculator</h1>
    
    <div class="d-flex justify-content-center">
        <form action="/calculate" method="POST" style="width: 25%;">
            <div class="mb-3">
                <label for="city" class="form-label">City/County Name</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="mb-3">
                <label for="population" class="form-label">Population</label>
                <input type="number" class="form-control" id="population" name="population" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Calculate</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
