<%- include('partials/header'); %>

<div class="container">
    <h1 class="text-center my-4">Message Sent</h1>
    <p class="text-center">Your message has been sent successfully. You should receive a response soon.</p>
    <div class="text-center">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>
</body>
</html>
