body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #909090;
    margin: 0;
    padding: 0;
}

/* Background for the top portion */
.background-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh; /* 1/5th of the viewport height */
    background-color: #ffffff;
    z-index: -1; /* Place it behind the container */
}

/* Background for the bottom portion */
.background-bottom {
    position: absolute;
    top: 30vh; /* Start where the top background ends */
    left: 0;
    width: 100%;
    background-color: #293C56;
    z-index: -1; /* Place it behind the container */
}

/* Ensure the container is positioned correctly */
.container {
    position: relative; /* Position relative to allow it to be on top of the background divs */
    z-index: 1; /* Ensure it is above the backgrounds */
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
}

/* Default styles for the form row */
.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
}

/* Styles for individual form elements */
.form-row .form-group {
    flex: 1;
    min-width: 100px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
}

/* Remove margin for the last element in the row */
.form-row .form-group:last-child {
    margin-right: 0;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tab-link {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
    color: #909090;
    font-weight: 500;
}

.tab-link.active {
    background-color: #197AA3;
    color: white;
}

.tab-content {
    display: none;
    text-align: left;
    position: relative;
}

.tab-content.active {
    display: block;
}

form {
    max-width: 100%;
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-row {
    padding-top: 2em;
}

input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-footer {
    text-align: center;
}

.next-btn, .back-btn, .submit-btn {
    padding: 10px 20px;
    background-color: #197AA3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    width: auto;
}

.back-btn {
    background-color: #cccccc;
    margin-right: 10px;
}

.nav-tabs {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center; /* Centers the tabs */
    margin-bottom: 20px;
}

.nav-tabs .nav-item {
    margin: 0 5px; /* Add some spacing between the tabs */
}

.nav-tabs .nav-link {
    pointer-events: none; /* Disable clicking */
    color: gray;
    position: relative;
    padding-bottom: 0.5rem;
    text-align: center;
}

.nav-tabs .nav-link.active {
    pointer-events: auto; /* Allow pointer events for visual feedback */
    color: #004085; /* Active color */
    font-weight: bold;
}

.nav-tabs .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #004085;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* input.form-control {
    border: 1px solid red !important;
} */

/* Default styles for mobile */

  .input-container {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically if necessary */
    flex-direction: column; /* Ensures content stacks vertically */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
  
  .step1Form {
    width: 100%;
    box-sizing: border-box;
  }

  ul.tabs {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
    width: 100%;
}

ul.tabs li {
    flex: 1;
}

ul.tabs li a {
    display: block;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    text-align: left;
    transition: background-color 0.3s;
}

ul.tabs li.active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

ul.tabs li:not(:last-child) a {
    border-bottom: none;
}

/* For larger screens */
@media screen and (min-width: 768px) {
    .input-container {
        width: 80%;
        max-width: 700px;
    }

    .input-container {
        display: flex;
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically if necessary */
        flex-direction: column; /* Ensures content stacks vertically */
        width: 60%;
        max-width: 700px;
        margin: 0 auto;
    }

    ul.tabs {
        flex-direction: row;
    }

    ul.tabs li a {
        text-align: center;
    }

    ul.tabs li:not(:last-child) a {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .tab-pane h1 {
        text-align: center;
    }
}

/* Make tabs responsive and fit on one row */
@media screen and (max-width: 767px) {
    .nav-tabs {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        justify-content: space-between; /* Distribute tabs evenly */
    }

    .nav-tabs .nav-item {
        display: block;
        width: 100%;
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-tabs .nav-link {
        white-space: nowrap;
        padding: 10px 5px;
        font-size: 12px;
    }
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row .form-group {
        margin-right: 0;
        margin-bottom: 10px; /* Adjust as needed */
    }

    .form-row .form-group:last-child {
        margin-bottom: 0;
    }
}

.custom-select-height {
    padding-top: .375rem; /* Adjust padding to align text vertically */
    padding-bottom: .375rem; /* Adjust padding to align text vertically */
}

.current-compliance-card {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #888;
}

.custom-container {
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #ced4da; /* Gray border */
    padding: 1rem;
    margin-bottom: 1rem;
}

.custom-container-dark {
    background-color: #e9ecef; /* Darker gray background */
    border: 1px solid #adb5bd; /* Darker gray border */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.percent-compliance {
    font-size: 85%;
}

