body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
}

.chart-container canvas {
    padding: 0!important;
    margin: 0!important;
    display: block!important;
}

/* Style for table headers */
.table th {
    background-color: #00274d!important;  /* Dark blue fill */
    color: white;  /* White font color */
}

/* Style for cards around tables */
.card {
    background-color: #f8f9fa!important;  /* Light gray fill */
    border-radius: 8px;  /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Stylish drop shadow */
    padding: 20px;
    margin-bottom: 20px;
}

.table-container {
    margin: 20px 0;
}
